table {
  width: 70%;
  border-collapse: collapse;
  margin: 25px;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #0cd5fe;
}

tr:hover {
  background-color: #a2f683;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
